<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bootweb.mapper.ReplyMapper">

<!-- register&modify -->
<insert id="insert" parameterType="com.example.bootweb.domain.ReplyVO">
	INSERT INTO tbl_reply
	(bno, writer , content , ip_address,state,password)
	VALUES 
	(#{bno},#{writer},#{content},#{ip_address},#{state},#{password})
</insert>

<update id="update" parameterType="com.example.bootweb.domain.ReplyVO">

UPDATE tbl_reply A SET 
A.content = #{content},
A.ip_address = #{ip_address},
A.updateDate = NOW(),
A.state = 'UPDATED'
WHERE A.rno = #{rno}

</update>

<insert id="hisInsert" parameterType="int">
	
	INSERT INTO tbl_reply_history
	(rno,bno,writer,content,regDate,ip_address,state,password)
	SELECT rno,bno,writer,content,regDate,ip_address,state,password FROM tbl_reply WHERE rno = #{rno}

</insert>
<!-- detail -->

<select id="detail" resultType="com.example.bootweb.domain.ReplyVO" parameterType="int">
SELECT A.* FROM tbl_reply A WHERE A.rno = #{rno}
</select>

<!-- list -->
<select id="list" resultType="com.example.bootweb.domain.ReplyVO" parameterType="int">
<include refid="forSelect_RPY"/> FROM tbl_reply A WHERE A.bno = #{bno}
</select>
<select id="allList" resultType="com.example.bootweb.domain.ReplyVO">
<include refid="forSelect_RPY"/> FROM tbl_reply A WHERE 1=1
</select>

<select id="hisList" resultType="com.example.bootweb.domain.ReplyVO" parameterType="int">
<include refid="forSelect_RPY"/> FROM tbl_reply_history A WHERE A.rno = #{rno}
</select>

<delete id="delete" parameterType="int">
DELETE FROM tbl_reply WHERE rno = #{rno}
</delete>
<update id="updateDel" parameterType="int">
UPDATE tbl_reply A SET 
A.state = 'DELETED'
WHERE A.rno = #{rno}
</update>
<sql id="forSelect_RPY">
SELECT 

A.rno,
A.bno,
A.writer,
A.content,
if(
TIMESTAMPDIFF(DAY,DATE_FORMAT(A.regdate,'%Y-%m-%d'),DATE_FORMAT(NOW(),'%Y-%m-%d'))>0
,DATE_FORMAT(A.regdate,'%Y-%m-%d') ,
 DATE_FORMAT(A.regdate,'%H:%i')) AS regdate,
if(
TIMESTAMPDIFF(DAY,DATE_FORMAT(A.updateDate,'%Y-%m-%d'),DATE_FORMAT(NOW(),'%Y-%m-%d'))>0
,DATE_FORMAT(A.updateDate,'%Y-%m-%d') , DATE_FORMAT(A.updateDate,'%H:%i')) AS updatedate
,A.ip_address

</sql>


</mapper>